<!DOCTYPE html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
{{>Header}}

    <div id="all_note">
        <div id="create_note">
        
            
        
        
        </div>
        <h3></h3>
        
    </div>
 
{{>Footer}}

<script src="./js/load_note.js"></script>
</body>

</html>